<form action="/todos" method="post">
	
	<label>name</label>
	<input type="text" name="todo[name]">
	<label>Description</label>
	<textarea name="todo[description]"></textarea>
	<input type="submit" value="Submit">
</form>